/* Reset */

body {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

/* Bullets */

.bullet {
  width: 10px;
  height: 10px;
  background-color: #cecece;
  border-radius: 50%;
}

.bullet:hover {
  cursor: pointer;
  background-color: #838383;
}

.bullet:active {
  background-color: #424242;
}

.bullets {
  display: flex;
  column-gap: 15px;
  width: fit-content;
  justify-self: end;
}

/* Titles */

.title {
  font-family: 'Cookie', cursive;
  font-size: 2rem;
  color: #424242;
  width: fit-content;
}

/* Slider */

.images {
  height: 80vh;
  width: fit-content;
  grid-column: 1 / 3;
}

.wrapper__images {
  margin: auto;
}

.images img {
  height: 100%;
}

/* Main */

.wrapper {
  width: fit-content;
}

.body__wrapper {
  margin: 5vh auto;
}

.grid {
  display: grid;
  row-gap: 5vh;
  grid-template-rows: fit-content fit-content;
  grid-template-columns: fit-content fit-content;
}